# Welcome to Lab: Favorites!

In this lab, you will explore several favorites of DISCOVERY, including the favorite things of your TA, Karle, and Wade!  This will **help you prepare for the mosaic project that was introduced in lecture on Wednesday**.

A few tips to remember:

- **You are not alone on your journey in learning programming!**  You have your lab TA, your CAs, your lab group, and the professors (Prof. Wade and Prof. Karle), who are all here to help you out!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

In [ ]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "peng"
ca1_name = "sophia"
ca2_name = "qiran"
ca3_name = ""


# Say hello to each other!
# - Groups of 3 are ideal :)
# - However, groups of 2 or 4 are fine too!
#
# Question of the Day (QOTD) to Ask Your Group: "What is your favorite influencer?"
partner1_name = "shivani"
partner1_netid = ""
partner1_favinfluencer = "emma chamberlain"

partner2_name = "sofia"
partner2_netid = ""
partner2_favinfluencer = "selena gomez"

partner3_name = "jenni"
partner3_netid = ""
partner3_favinfluencer= "america ferrera"

partne4_name = "tori"
partner4_netid = ""
partner4_favinfluencer= "rihanna"

<hr style="color: #DD3403;">

# Part 1: Karle's Game Day!

One of Karle's favorite events is tailgating before Illini football games! The best part of tailgating is obviously the food and drinks üòâ. Because Karle is an extrovert, she invites **many** people to her parties. For the upcoming games this fall, she needs to mix "mocktails" in gallons for all of her guests.  In this part of the lab, you will write a simulation to help simulate the possible drinks available at Karle's party.

A "mocktail" has three ingredients:
- A `mixer`, one of: `"cranberry juice"`, `"lime juice"`, `"lemonade"`, `"kool-aid"`, or `"red bull"` (gross!)
- A `fruit`, one of: `"watermelon"`, `"pineapple"`, `"lime"`, `"lemon"`, or `"cherry"` (yum!)
- A `core`, one of: `"sparkling water"`, `"sprite"`, and **add three other things** you should pick with your group to make five `"core"` component options!

Create a DataFrame called `df` containing **10,000** simulations of possible "mocktail" combinations:

In [1]:
import pandas as pd
import random

In [8]:
data = []
for i in range (10000):
    mixer = random.choice(["cranberry juice", "lime juice", "lemonade", "kool-aid", "red bull"])
    fruit = random.choice(["watermelon", 'pineapple', 'lime', 'lemon', 'cherry'])
    core = random.choice(['sparkling water', 'sprite', 'orange juice', 'club soda', 'grenadine'])
    d = {"mixer": mixer, 'fruit': fruit, 'core':core}
    data.append(d)

df= pd.DataFrame(data)

In [9]:
df

                mixer       fruit             core
0            lemonade  watermelon        club soda
1            lemonade       lemon        club soda
2     cranberry juice       lemon        club soda
3            lemonade  watermelon     orange juice
4     cranberry juice      cherry  sparkling water
...               ...         ...              ...
9995         kool-aid      cherry        club soda
9996         red bull      cherry     orange juice
9997       lime juice      cherry        grenadine
9998         kool-aid      cherry     orange juice
9999         red bull      cherry     orange juice

[10000 rows x 3 columns]

### üî¨ Test Case Checkpoint üî¨

In [10]:
## == CHECKPOINT TEST CASES: Karle's Game Day ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
mixers = ["cranberry juice", "lime juice", "lemonade", "kool-aid", "red bull"]
fruits = ["watermelon", "pineapple", "lime", "lemon", "cherry"]
cores = ["sparkling water", "sprite"]
assert( 'df' in vars() ), "Your simulation did not populate a DataFrame variable named `df`."
assert( len(df) == 10000 ), "The length of your `df` is not 10000, check the value in your for-loop declaration."
assert( len(df.columns.to_list()) == 3 ), "Your DataFrame should contain 3 columns!"
assert( 'mixer' in df ), "Your DataFrame is missing a `mixer` column."
assert( 'fruit' in df ), "Your DataFrame is missing a `fruit` column."
assert( 'core' in df ), "Your DataFrame is missing a `core` column."
for m in mixers:
    assert ( m in list(df['mixer']) ), f"Your DataFrame is missing the mixer {m}."
for f in fruits:
    assert ( f in list(df['fruit']) ), f"Your DataFrame is missing the fruit {f}."
for c in cores:
    assert ( c in list(df['core']) ), f"Your DataFrame is missing the core {c}."

assert( len(set(df['core'])) == 5 ), "Your DataFrame does not return five unique core components."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Estimated Probability of Red Bull!

Many people feel the combination of energy drinks with other drinks is gross! Calculate the estimated probability that a randomly created drink has **red bull and sprite** or **red bull and sparkling water** in the variable `P_redBullCombo`. Use your simulation data to do this!

In [21]:
P_redBullCombo = df[((df.mixer == "red bull") & (df.core == "sprite")) | ((df.mixer == "red bull") & (df.core == "sparkling water"))]
P_redBullCombo = len(P_redBullCombo)/len(df)
P_redBullCombo

0.0811

## Estimated Probability of a True Mocktail

Karle is incredibly suspicious of the extra ingredients you picked for her, so we consider a "true mocktail" to be a drink made with a core of `"sparkling water"` or `"sprite"` only.  Calculate the estimated probability that a randomly created drink is a "true mocktail" the variable `P_trueMocktail`:

In [22]:
P_trueMocktail = df[((df.core == "sparkling water") | (df.core == "sprite"))]
P_trueMocktail = len(P_trueMocktail)/len(df)
P_trueMocktail

0.403

### üî¨ Test Case Checkpoint üî¨

In [23]:
## == CHECKPOINT TEST CASES: Mocktail Probabilities ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( 0.07 <= P_redBullCombo and 0.095 >= P_redBullCombo ), "You've calculated `P_redBullCombo` incorrectly."
assert( 0.38 <= P_trueMocktail and 0.42 >= P_trueMocktail ), "You've calculated `P_trueMocktail` incorrectly."
'''
NOTE: 
These boundary values were obtained by running 10,000 correct simulations and finding the max, min probability of ALL those runs. 
There is still a chance, albeit *extremely* low, that a student fails this test case with correct code. 
If the value is suspiciously close, try running all cells again. 
'''

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Using Simulations for Estimated Probabilities

**Q1: Why do you think we can use this simulation to estimate the probability of a drink with Red Bull, a "true mocktail", or any other feature we would like to look into?**

it allows us to see all the possible combinations and calculate the probability of any combination with a mixer or fruit.

<hr style="color: #DD3403;">

# Part 2: Wade's Game Night

While extroverts love their parties, Wade would rather be playing his favorite game with his partner and a small group of friends at home!  One of his favorite games is a table-top game called Dominion.

The only thing you need to know is that your starting hand in Dominion is **five cards** drawn from a starting deck of ten cards.  The deck of ten cards is made up of the following cards:

- There are exactly 7 "coppers" in the starting deck
- There are exactly 3 "estates" in the starting deck

Here's the whole starting deck from which you'll randomly choose five cards:

---

![starting-deck.png](./notebook-images/starting-deck.png)

---

To help you out, we have provided a function that returns the number of coppers in a random starting hand -- `coppersInStartingHand`:

In [111]:
import random

def coppersInStartingHand():
  # This code sample five cards from a set of seven "coppers" and three "estates".
  #   Ex: Might be ["copper", "copper", "copper", "estate", "estate"]  OR
  #       might be ["copper", "copper", "copper", "copper", "copper"]  OR
  #       any other combination of five cards.
  cards = random.sample( (["copper"] * 7) + (["estate"] * 3) , 5 )

  # This code counts the number of "copper" cards selected:
  count = 0
  for card in cards:
    if card == "copper":
      count += 1
  
  return count

coppersInStartingHand()

5

Using the `coppersInStartingHand` function, create a DataFrame of 10,000 starting hands of five cards that draws from the ten cards **without replacement**.  In your DataFrame, make sure you have at least the following two columns:
- `coppers`, the total number of coppers in your starting hand
- `estates`, the total number of estates in your starting hand 

To solve this, think about the relationship between the number of coppers and the number of estates.  For example, if you have 4 coppers, how many estates must you have?

Make sure to call your DataFrame `df_startingHands`.

In [112]:
# Create your simulation and `df_startingHands`:
data = []
for i in range (10000):
    coppers = coppersInStartingHand()
    estates =  5 - coppers
    d = {"coppers": coppers, 'estates': estates}
    data.append(d)

df_startingHands = pd.DataFrame(data)
df_startingHands

      coppers  estates
0           3        2
1           3        2
2           4        1
3           3        2
4           5        0
...       ...      ...
9995        2        3
9996        5        0
9997        3        2
9998        2        3
9999        2        3

[10000 rows x 2 columns]

In [113]:
df_startingHands

      coppers  estates
0           3        2
1           3        2
2           4        1
3           3        2
4           5        0
...       ...      ...
9995        2        3
9996        5        0
9997        3        2
9998        2        3
9999        2        3

[10000 rows x 2 columns]

### üî¨ Test Case Checkpoint üî¨

In [114]:
## == CHECKPOINT TEST CASES: Wade's Game Night ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
copper_counts = [2, 3, 4, 5]
estate_counts = [0, 1, 2, 3] 
assert( 'df_startingHands' in vars() ), "Your simulation did not populate a DataFrame variable named `df_startingHands`."
assert( len(df_startingHands) == 10000 ), "The length of your DataFrame is not 10000, check the value in your for-loop declaration."
assert( len(df_startingHands.columns.to_list()) == 2 ), "Your `df_startingHands` should contain 2 columns!"
assert( 'coppers' in df_startingHands ), "Your DataFrame is missing a `coppers` column."
assert( 'estates' in df_startingHands ), "Your DataFrame is missing an `estates` column."
for i in copper_counts:
    assert ( i in list(df_startingHands['coppers']) ), f"Your DataFrame is missing instances in which you have {i} coppers in your starting hand. Check your starting hand calculations or your dictionary variables."
for i in estate_counts:
    assert ( i in list(df_startingHands['estates']) ), f"Your DataFrame is missing instances in which you have {i} estates in your starting hand. Check your starting hand calculations or your dictionary variables."

assert ( set(df_startingHands['coppers'] + df_startingHands['estates']) == {5}), "A starting hand should always have 5 cards. Your simulation produced an instance where this is not true."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## A Lucky Start

One of the luckiest starting hands is to have **five coppers**.  What is the **simulated** probability of Wade starting with five coppers? *Hint: use your DataFrame `df_startingHands` for your calculation!*

In [115]:
P_fiveCoppers = df_startingHands[df_startingHands.coppers == 5]
P_fiveCoppers = len(P_fiveCoppers)/len(df_startingHands)
P_fiveCoppers

0.0807

### üî¨ Test Case Checkpoint üî¨

In [116]:
## == CHECKPOINT TEST CASES: A Lucky Start ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( 0.07 <= P_fiveCoppers and 0.1 >= P_fiveCoppers ), "You've calculated `P_fiveCoppers` incorrectly."
'''
NOTE: 
These boundary values were obtained by running 10,000 correct simulations and finding the max, min probability of ALL those runs. 
There is still a chance, albeit *extremely* low, that a student fails this test case with correct code. 
If the value is suspiciously close, try running all cells again. 
'''

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: Sample Space

**Q2: Observe the proportion of coppers to estates in each iteration of the simulation. What is the cause of this trend?**

There are a lot more coppers than estates. This is because there are 7 coppers in the deck and only 3 estates which makes sense why there are more coppers than estates in the simulation.

**Q3: What would happen to the simulated probability of having a starting hand of five coppers if we took out 2 estate cards from the starting deck (leaving 7 ‚Äúcoppers‚Äù and 1 ‚Äúestate‚Äù in the starting deck)? Why?**

It would stay the same because the maximum of a starting hand is 5 and if they are all 5 coppers there is no room for any other cards.

<hr style="color: #DD3403;">

# Part 3: Using Images

Up until now, we have used **organized, well-structured data** in DISCOVERY.  However, data can be found everywhere and, in this lab, we'll begin to explore the data that makes up an image.

A computer represents an image as a 2D grid of **pixels** where each pixel is a single color.  Here is a tiny image **zoomed at 50x** that shows nine pixels:

![Color](./notebook-images/sample-50x.png)

The actual image size of a 3 pixel by 3 pixel image is **really small** (here it is): ![sample image](./notebook-images/sample.png)

We will need to use Python to help us process large images, but we will use the large image to understand an image!  For this lab, we have provided the function for you to load images as a DataFrame.

- Make sure to `import DISCOVERY` to import the code specific for DISCOVERY
- Then use `DISCOVERY.df_image("sample.png")` to load the image data into a DataFrame `df_pixels`

In [120]:
# Load the image into a DataFrame `df_pixels`:
import DISCOVERY
df_pixels = DISCOVERY.df_image("sample.png")
df_pixels

   x  y    r    g    b
0  0  0    0    0  255
1  0  1    0  255    0
2  0  2  255  255  255
3  1  0  255  255  255
4  1  1    0    0    0
5  1  2  255   85   46
6  2  0  255    0    0
7  2  1  255  255  255
8  2  2   19   41   75

### üî¨ Test Case Checkpoint üî¨

In [121]:
## == CHECKPOINT TEST CASES: Using Images ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( len(df_pixels) == 9 ), "The length of your `df_pixels` should be 9 - there's 9 pixels in the sample.png!"
assert( len(df_pixels.columns.to_list() ) == 5 ), "There should be five columns in your `df_pixels`."
for col in ['x', 'y', 'r', 'g', 'b']:
    assert ( col in df_pixels ), f"Your `df_pixels` is missing the {col} column. Make sure you're using the `DISCOVERY.df_image()` function!"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Understanding the DataFrame

In your DataFrame above, every pixel has five values:
- An `x` value, for the **x** (horizontal) position, starting with `0` in the top-left
- A `y` value, for the **y** (vertical) position, starting with `0` in the top-left
- An `r` value, for the amount of **red** color in the image (`0` means no red, `255` means 100% red)
- A `g` value, for the amount of **green** color in the image (`0` - `255`)
- A `b` value, for the amount of **blue** color in the image (`0` - `255`)

In the image above, the top-left cell is blue.  Let's see what that looks like in data:

In [122]:
df_pixels[ (df_pixels.x == 0) & (df_pixels.y == 0) ]

   x  y  r  g    b
0  0  0  0  0  255

...the color value for `(x = 0, y = 0)` is all blue (`b = 255`) with no other colors added.  Moving to the right to `x == 1`:

In [123]:
df_pixels[ (df_pixels.x == 1) & (df_pixels.y == 0) ]

   x  y    r    g    b
3  1  0  255  255  255

...the color value for `(x = 1, y = 0)` is all the colors (`r`, `g` and `b` are all `255`).  Since computers create colors with light ("additive colors"), the combination of all the colors makes a white color.

## Finding all the white pixels

Just above this section, you learned how a white pixel is represented in data.  Create a new DataFrame, `df_white`, that contains all of the white pixels in the sample image:

In [134]:
df_white = df_pixels[(df_pixels.r == 255) & (df_pixels.g == 255) & (df_pixels.b == 255)]
df_white

   x  y    r    g    b
2  0  2  255  255  255
3  1  0  255  255  255
7  2  1  255  255  255

## Finding all the "primarily red" pixels

Find all the pixels that are "primarily red", where a "primarily red" pixel has more red than green **AND** more red than blue.  Store all the "primarily red" pixels in the DataFrame `df_red`.

In [143]:
df_red = df_pixels[(df_pixels.r > df_pixels.g) & (df_pixels.r > df_pixels.b)]
df_red

   x  y    r   g   b
5  1  2  255  85  46
6  2  0  255   0   0

### üî¨ Test Case Checkpoint üî¨

In [144]:
## == CHECKPOINT TEST CASES: Finding Pixels ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df_white' in vars() ), "Make sure your DataFrame of white pixels is named `df_white`."
assert( 'df_red' in vars() ), "Make sure your DataFrame of red pixels is named `df_red`."
assert( len(df_white) == 3 ), "Your `df_white` does not contain all three white pixels in the sample image."
assert( (df_white['r'] == 255).all() and (df_white['g'] == 255).all() and (df_white['b'] == 255).all() ), "Your `df_white` contains non-white pixels."
assert( len(df_red) == 2 ), "Your `df_red` does not contain the two 'primarily red' pixels in the sample image."
assert( set(df_red['x'] + df_red['y']) == {2, 3} ), "Your `df_red` does not contain the two 'primarily red' pixels in the sample image."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

### Analysis: A Certain Area of Pixels

**Q4: Looking at pixels of a certain color is interesting, but something else we can analyze with this DataFrame is a certain area of pixels! If we wanted to look at the color data in a 2x3 rectangle of pixels, how would you subset the above DataFrame to view that information?**

I would only look at the x and y columns when x equals 0 and 1 and when y equals 0,1,2.

<hr style="color: #DD3403;">

# Part 4: Images with your TAs and CAs

Before your section, your TA -- with the help of the CAs -- picked an image for you to do analysis on!

- Navigate to the image and save the image to your computer.
- Place the image in the same folder as this lab (`lab_favorites`).
- Load the image into a DataFrame `df`.

In [147]:
# Load the image your TA chose for you into a DataFrame:
df = DISCOVERY.df_image("y02.jpg")
df

          x    y    r    g    b
0         0    0  235  218  202
1         0    1  233  216  200
2         0    2  233  216  200
3         0    3  235  218  202
4         0    4  233  216  200
...     ...  ...  ...  ...  ...
479995  599  795  102  104   99
479996  599  796   99  101   96
479997  599  797   95   97   92
479998  599  798   97   99   94
479999  599  799  101  103   98

[480000 rows x 5 columns]

## Primary "Primary Color"

Using the idea of "primary red" pixels, we will extend the idea to "primary red", "primary green", or "primary blue".  In the following three sections, find the **percentage of pixels** that are primarily red, green, and blue, storing in the **decimal variables** `percent_r`, `percent_g`, and `percent_b`:

In [151]:
# Find the percentage of primarily red pixels:
percent_r = df[(df.r > df.g) & (df.r > df.b)]
percent_r = len(percent_r)/len(df)
percent_r * 100

57.703333333333326

In [153]:
# Find the percentage of primarily green pixels:
percent_g = df[(df.g > df.r) & (df.g > df.b)]
percent_g = len(percent_g)/len(df)
percent_g * 100

27.3325

In [154]:
# Find the percentage of primarily blue pixels:
percent_b = df[(df.b > df.g) & (df.b > df.r)]
percent_b = len(percent_b)/len(df)
percent_b * 100

7.790416666666666

### üî¨ Test Case Checkpoint üî¨

In [155]:
## == CHECKPOINT TEST CASES: Finding Percentages ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( isinstance(percent_r, float) and isinstance(percent_g, float) and isinstance(percent_b, float) ), "Your percentages of r, g, b pixels should be decimal (float) variables."
assert( percent_r >= 0 and percent_r <= 1 ), "The percentage of red pixels must be between 0% and 100%."
assert( percent_g >= 0 and percent_g <= 1 ), "The percentage of green pixels must be between 0% and 100%."
assert( percent_b >= 0 and percent_b <= 1 ), "The percentage of blue pixels must be between 0% and 100%."
total = percent_r + percent_g + percent_b
assert( total >= 0 and total <= 1 ), "The total of your percentages should be between 0 and 1, not exceeding 100%!"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Average Color

Finally, find the average color of the entire image.  The average color will have three components: the average red, the average green, and the average blue.

In [172]:
# Find the average red:
avg_red = df["r"].mean()
avg_red

133.23871666666668

In [173]:
# Find the average green:
avg_green = df['g'].mean()
avg_green

117.36931875

In [174]:
# Find the average blue:
avg_blue = df['b'].mean()
avg_blue

102.391375

### üî¨ Test Case Checkpoint üî¨

In [175]:
## == CHECKPOINT TEST CASES: Finding Averages ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( isinstance(avg_red, float) and isinstance(avg_green, float) and isinstance(avg_blue, float) ), "Your average pixel color values should be decimal (float) variables."
assert( avg_red >= 0 and avg_red <= 255 ), "The average red value must be between 0 and 255."
assert( avg_green >= 0 and avg_green <= 255 ), "The average green value must be between 0 and 255."
assert( avg_blue >= 0 and avg_blue <= 255 ), "The average blue value must be between 0 and 255."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## See the Average Color

Colors are presented in code as a tuple, `rgb(1, 2, 3)`.  Run the following code to see the average color represented as a tuple, and to see a Google search where you can view it yourself!

In [176]:
color = f"rgb({round(avg_red)}, {round(avg_green)}, {round(avg_blue)})"

print(f"Average color: {color}")
color = color.replace(" ", "")
print(f"See it on Google: https://www.google.com/search?q={color}&")

Average color: rgb(133, 117, 102)
See it on Google: https://www.google.com/search?q=rgb(133,117,102)&

### Analysis: Average Color

**Q5: What is the most represented ‚Äúcolor‚Äù in this average color? Why?**

The most represented color is red. The color it outputted is on the orange scale which is closer to red than blue or green.

**Q6: How might the average color of the image change if the proportion of colors in the tuple were different?**

The average would probably increase or decrease depending on the chmages. The change would also give us an inacurate average color.

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)